/* CSS Variables */
:root {
    --primary: #ff7562;
    --primary-hover: #c75a4c;
    --dark: #2A363B;
    --dark-hover: #344146;
    --light: #fff;
}

/* General configs */
html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    font-weight: 400;
    margin: 0;
    position: relative;
}

a {
    color: var(--primary);
    text-decoration: none;
}
a:hover {
    color: var(--primary-hover);
    text-decoration: none;
}

.bg-dark {
    background: var(--dark) !important;
}
.bg-semi-dark {
    background: var(--dark-hover) !important;
}
.bg-primary {
    background: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}
.text-dark {
    color: var(--dark) !important;
}
.text-muted-white {
    color: rgba(255, 255, 255, 0.75) !important;
}

.btn {
    border-radius: 4px;
    padding: 20px 30px;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-primary {
    background: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    background: var(--primary-hover) !important;
    border-color: var(--primary-hover) !important;
}

.btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.2);
    background: none;
}
.btn.btn-outline-white:hover,
.btn.btn-outline-white:focus,
.btn.btn-outline-white:active {
    background: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
}

.page-section {
    padding: 4rem 2rem;
}

hr.divider {
    max-width: 4rem;
    border-width: 0.2rem;
    border-color: var(--primary);
}
hr.light {
    border-color: #fff;
}

/*
 * Navbar
 */
.navbar {
    background: transparent !important;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .nav-link {
    font-size: 16px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar,
.navbar .nav-link {
    transition: all 0.4s ease-in-out;
}

/* Change navbar styling on small viewports */
@media screen and (max-width: 768px) {
    .navbar {
        background: var(--dark) !important;
        position: relative;
    }
    .navbar .navbar-nav > .nav-item > .nav-link {
        padding: 10px 0;
    }
}

/* Change navbar styling on scroll */
@media screen and (min-width: 768px) {
    .navbar.active {
        background: #fff !important;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar.active .navbar-brand {
        color: #555;
    }

    .navbar.active .nav-link,
    .navbar.active .nav-link:focus {
        color: #555;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .navbar.active .nav-link.active,
    .navbar.active .nav-link:hover {
        font-weight: bold;
        color: var(--primary);
    }
}

/*
 * Cover
 */
.cover {
    background: linear-gradient(to bottom, rgba(42, 54, 59, 0.5) 0%, rgba(42, 54, 59, 0.8) 100%), url(../assets/img/bg-cover-opt.jpg) no-repeat center center fixed;
}
.cover h1 {
    line-height: 1.5;
}
.cover .float {
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 768px) {
    .cover {
        background-attachment: scroll;
    }
    .cover .btn {
        width: 100% !important;
    }
    .cover h1 {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .cover .lead {
        font-size: 1rem;
    }
}

/*
 * Promo
 */
.promo {
    padding: 3rem 2rem;
}
.promo .counter {
    font-size: 3rem;
    border-right: 1px solid var(--dark);
}

@media screen and (max-width: 768px) {
    .promo .counter {
        border-right: none;
    }
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    padding-left: 0;
}
ul.timeline .small {
    line-height: 1;
}

@media screen and (min-width: 768px) {
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 1.5rem;
    }

    /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: var(--dark);
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 4px;
        height: 100%;
        z-index: 400;
        border-radius: 1rem;
    }

    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid var(--dark);
        left: 11px;
        margin-top: 5px;
        width: 14px;
        height: 14px;
        z-index: 400;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

.structure-list {
    padding-left: 1.5rem;
}
.structure-list li {
    margin-bottom: .5rem;
    line-height: 1;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
    max-height: 75vh;
    overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
    width: 2px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--primary);
}

/*
 * Reusable
 */
.bg-cover {
    background-size: cover !important;
}

.vh-100 {
    min-height: 100vh;
}

.border-left-primary {
    border-left: 1px solid var(--primary);
}
