.italic {
    font-style: italic;
}

.big {
    font-size: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-decoration: overline;
    font-weight: 500;
    color: #ff0000;
    text-transform: lowercase;
    text-align: justify;
    line-height: 2;
}



div {
    background-color: #666;
}

.block {
    color: #ffffff;
}

div.block {
    font-weight: bold;
    color: red;
}

.text-blue {
    color: blue;
}

.block .text-blue {
    font-style: italic;
}

